.Cart {
  display: block;
  background-color: #fff;
  min-height: 90vh;
  font-family: "Josefine Sans", sans-serif;
  padding-top: 40px;
}

.Inner {
  display: flex;
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 30px;
}

.Carts {
  flex: 1 1 auto;
}

.Button {
  width: 269px;
  height: 57px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 20px;
}

.Aside {
  background-color: #e9e9e9;
  margin-left: 50px;
  padding: 40px;
  box-sizing: border-box;
}

.CartTotal {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.Discount {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.DiscountCode {
  background-color: unset;
  border: none;
  border-bottom: 1px solid #999999;
  margin-bottom: 130px;
  width: 150px;
  padding: 4px 0;

  &:active,
  &:focus {
    outline: none;
  }
}

.AsideInfo {
  text-transform: uppercase;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 130px;
  }
}

@media screen and (max-width: 1024px) {
  .Inner {
    flex-direction: column;
  }

  .Aside {
    margin: 50px 0;
  }
}

@media screen and (max-width: 576px) {
  .Button {
    width: 100%;
  }
}
