{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true
  },
  "extends": [
    "airbnb",
    "react-app",
    "prettier"
  ],
  "rules": {
    "no-trailing-spaces": ["error", { "skipBlankLines": true } ],
    "no-return-assign": 0,
    "eol-last": 0,
    "semi": 0,
    "camelcase": "error",
    "object-curly-spacing": 0,
    "comma-dangle": 0,
    "quotes": ["error", "double"]
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "17.0.1",
      "flowVersion": "0.86"
    },
    "propWrapperFunctions": [ "forbidExtraProps" ]
  },
  "overrides": [
    {
      "files": [
        "./src/store/**/*.js"
      ],
      "rules": {
        "default-param-last" : "off"
      }
    }
  ]
}