{
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "syntax": "scss",
  "rules": {
    "no-missing-end-of-source-newline": null
  }
}