@import '~react-alice-carousel/lib/alice-carousel.css'

.alice-carousel
    .alice-carousel__dots
        position: absolute
        bottom: 70px
        right: 40px
        margin: 0
        @media(max-width: 576px)
            bottom: 30px
            right: 27px
    .alice-carousel__dots-item
        background: transparent
        border: 2px solid #fff
        width: 16px
        height: 16px
        @media(max-width: 576px)
            width: 7px
            height: 7px             
    .alice-carousel__dots-item.__active
        background: #fff
    
        

                   