@import "../../../../styles/mixins";

.Categories {
  width: 100%;

  &Items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}

.category {
  display: flex;
  align-items: flex-end;
  height: 340px;
  @include bg-image-pos;

  &:hover {
    cursor: pointer;
  }
}

.clothes {
  background-image: url("./img/clothes1.jpg");
}

.shoes {
  background-image: url("./img/shoes1.jpg");
}

.accessories {
  background-image: url("./img/accessories.jpg");
}
