.categories {
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: 1081px) {
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    @media (min-width: 481px) and (max-width: 741px) {
        justify-content: space-between;
        flex-direction: column;
    }
    
    @media (max-width: 480px) {
        flex-direction: column;
    }
}

.category {
    display: flex;
    align-items: flex-end;
    width: 320px;
    height: 340px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
        cursor: pointer;
    }

    @media (min-width: 481px) and (max-width: 1080px) {
        
        &:not(:first-child) {
            margin: 20px;
        }
    }

    @media (max-width: 480px) {
        &:not(:first-child) {
        margin: 20px;
        }
    }
}

.clothes {
    background-image: url("./img/clothes.png");
}

.shoes {
    background-image: url("./img/shoes.png");
}

.accessories {
    background-image: url("./img/accessories.png");
}