.Account {
  padding: 5%;
  font-family: "Josefin Sans", sans-serif;
  background: #fff;
}
.AccountContainer {
  position: relative;
  display: block;
}
.BackBtn{
  display: none;
  font-size: 12px;
  @media screen and (max-width: 576px) {
    position: absolute;
    top: -17px;
    left: -15px;
    display: block;
   }
}
.MyAccount {
  font-family: "Josefin Sans", sans-serif;

  &Title {
    margin: 0px 0px 50px 0;
    font-size: 36px;
    @media screen and (max-width: 576px) {
      display: none;
     }
  }

  &Tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &Tab {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: unset;
    @media screen and (max-width: 576px) {
      display: none;
      text-transform: none;
     }

    &Active {
      font-weight: 700;
      border-bottom: 1px solid #000000;
      @media screen and (max-width: 576px) {
        display: block;
       }
    }
   
  }
  
}

@media screen and (max-width: 992px) {
  .MyAccount {
    &Tabs {
      min-width: 100%;
      overflow-y: scroll;
      white-space: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &Tab {
      width: fit-content;
      padding: 0 2rem;
      @media screen and (max-width: 576px) {
        padding: 0;
       }
    }
  }
}
