.AddressBook {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  @media screen and (max-width: 576px) {
    margin: 0;
   }

  &Delivery {
    padding: 50px;
    border-right: 1px solid #000000;
  }

  &Billing {
    padding: 50px;
  }

  .Button {
    width: 25%;
    width: 350px;
    margin: 50px 0;
    padding: 1rem 0.5rem;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #000000;
    @media screen and (max-width: 576px) {
      width: 100%;
     }
  }
}

@media screen and (max-width: 992px) {
  .AddressBook {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    &Delivery {
      border-right: none;
      border-bottom: 1px solid #000000;
    }
  }
}

.AddressBookTitle {
  margin-bottom: 20px;
}

.AddressContainer {
  display: block;
}


.ItemsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid #00000052;
  border-style: dashed;
  border-radius: 5px;
  box-shadow: -2px 2px 3px 1px #00000040;
}

.DeleteAddressItem {
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 10px 30px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #980000;
    border: none;
}

.Inner > span {
  margin: 5px 0 !important;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}

.InnerCard {
  display: flex;
  flex-direction: column;
}

.InnerCard > span {
  margin: 10px 0;
}

.AddressBold {
  margin-right: 5px;
  font-weight: 800;
  font-style: italic;
}

.LimitAddresses {
  color: darkred;
  font-weight: 600;
  font-size: 15px;
}

.SecurityCard {
  margin-top: 10px;
  color: red;
  font-weight: 800;
  font-size: 12px;
}