.LoginRegistration {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  background-color: #000;
  border-bottom: 1px solid #fff;
}

.Inner {
  width: 470px;
  margin: 5% auto 0;
  margin-bottom: 5rem;
}

.Tabs {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.Tab {
  padding: 5px;
  color: #fff;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #000;
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.TabActive {
  border-bottom: 1px solid #737272;
}

.Title {
  margin: 70px 0;
  color: #fff;
  line-height: 1.5;
}

.Input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  color: #fff;
  background-color: #000;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  &:active {
    outline: 1px solid white;
  }

  &::placeholder {
    color: #a0a0a0;
  }

  &Field {
    position: relative;
    margin-bottom: 40px;
  }
}

.Checkbox {
  position: relative;
  visibility: hidden;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    border-radius: 50%;
    visibility: visible;
    content: "";
  }

  &:before {
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
  }

  &:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
  }

  &:checked:after {
    background-color: #000;
  }

  &Label {
    margin-left: 20px;
    color: #847a7a;
  }
}

.Button {
  width: 100%;
  margin-top: 50px;
  padding: 1rem;
  text-transform: uppercase;
  columns: #000;
  background-color: #e5e5e5;
  border: none;
  cursor: pointer;
}

.Error {
  position: absolute;
  bottom: -20px;
  color: red;
  font-size: 12px;
}

.Cart {
  &Form {
    width: 100%;
    margin-bottom: 150px;
  }

  &Inner {
    width: 100%;
    margin: 50px 0 100px 0;
  }

  &Input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 0.5rem;
    color: #000;
    letter-spacing: 0.5px;
    background-color: #fff;
    border: 1px solid #000;
  }

  &Checkbox {
    &:before {
      background-color: #000;
    }

    &:checked:after {
      background-color: #fff;
    }
  }

  &Button {
    margin-top: 0;
    color: #fff;
    background-color: #000;
  }
}

.RegistrationForm {
  margin: 50px 0 100px 0;
}

@media screen and (max-width: 576px) {
  .Inner {
    width: 90%;
  }
}
