.Sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 4;
  width: 250px;
  min-width: 250px;
  padding: 50px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  background-color: #000;

  @media screen and (max-width: 1150px) {
    width: auto;
    padding-left: 10px;
  }
}

.SidebarContent {
  padding-left: 20px;
}

.Routes {
  display: flex;
  margin-bottom: 45px;
  color: #c4c4c4;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.Routes > span {
  margin: 0 7px;
}

.ListCategory {
  font-size: 18px;
}

.ListItem {
  width: fit-content;
  margin-bottom: 20px;
  list-style: none;

  &Active {
    position: relative;

    &:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      content: "";
    }
  }
}

.CategoryTitle {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.CategoryAll {
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;

  &Active {
    position: relative;

    &:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      content: "";
    }
  }
}

.Button {
  width: 100%;
  padding: 10px 25px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.25s;

  &Warning {
    border-color: #ff0000;
  }

  &:hover {
    border-color: gold;
  }
  &s {
    margin-top: 50px;
  }
}

@media screen and (max-width: 992px) {
  .Sidebar {
    position: absolute;
    transform: translateX(-100%);

    &Active {
      transform: translateX(0);
    }
  }
}
