@import "../../../../styles/productColors";

.CartItem {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 25px;
  padding: 20px;
  border: 1px solid #00000024;
  box-shadow: 0 0 12px 3px #00000014;
  transition: 0.3s;
}

.CartItem:hover {
  box-shadow: 0 0 9px 10px #0000001f;
}

.CartColor {
  display: flex;
  align-items: center;
}

.CartItemImage {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 125px;
  min-height: 125px;
  max-height: 125px;
  margin-right: 15px;
}

.CartItemImage > img {
  width: 100%;
  height: 100%;
}

.CartManage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

button {
  background: none;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.CartCountContainer > button > i {
  color: #00000061;
  font-size: 18px;
}

.CartCountDetails {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  padding: 9px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #00000052;
}

.CartItemGeneral {
  width: 75%;
}

.CartItemGeneral p {
  padding: 2px 5px;
  font-size: 18px;
  line-height: 1.5;
}

.CartItemRemove > i {
  transition: 0.3s;
}

.CartItemRemove > i:hover {
  color: #de1717;
}

.CartItemRemove > i {
  font-size: 18px;
}

.CartCountDecreaseOff {
  opacity: 0.3;
  pointer-events: none;
}

.CartCountIncreaseOff {
  opacity: 0.3;
}

.CartItemMoreDetails {
  // margin-right: 50px;
  // position: absolute;
  // left: 25%;
}

.CartItemDetails {
  display: flex;
}

.CartItemDetails > p {
  margin-right: 15px;
}

.CartItemDetails > p > i {
  margin-right: 5px;
}

.Manage {
  position: absolute;
  right: 15px;
}

@media screen and (max-width: 992px) {
  .CartItemGeneral {
    width: 65%;
  }
  .Manage {
    width: 10%;
    text-align: right;
  }
}

@media screen and (max-width: 576px) {
  .CartItem {
    flex-direction: column;
  }
  .CartItemGeneral {
    width: 100%;
    margin-top: 2rem;
  }
  .CartManage {
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
  }

  .Manage {
    bottom: 40px;
  }

  .CartCountContainer {
    margin: 0 auto 1rem;
  }

  .CartColor {
  }
}
