@import "../../../../styles/productColors";

.CartItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  box-shadow: 0 0 12px 3px #00000014;
  border: 1px solid #00000024;
  margin: 25px;
  position: relative;
  transition: .3s;
}

.CartItem:hover {
  box-shadow: 0 0 9px 10px #0000001f;
}

.CartColor {
  display: flex;
  align-items: center;
}


.CartItemImage {
  width: 125px;
  height: 125px;
  max-width: 125px;
  max-height: 125px;
  min-width: 125px;
  min-height: 125px;
  margin-right: 15px;
}

.CartItemImage > img {
  width: 100%;
  height: 100%;
}

.CartManage {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

button {
  background: none;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.CartCountContainer > button > i {
  font-size: 18px;
  color: #00000061;
}

.CartCountDetails {
  font-size: 18px;
  margin: 0 10px;
  border: 1px solid #00000052;
  padding: 9px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.CartItemGeneral {
  width: 75%;
}

.CartItemGeneral > p {
  font-size: 18px;
  margin-left: 5px;
}

.CartItemRemove > i {
transition: .3s;
}

.CartItemRemove > i:hover {
  color: #de1717;
}

.CartItemRemove > i {
  font-size: 18px;
}

.CartCountDecreaseOff {
  pointer-events: none;
  opacity: 0.3;
}

.CartCountIncreaseOff {
  opacity: 0.3;
}

.CartItemMoreDetails {
  margin-right: 50px;
  position: absolute;
  left: 25%;
}

.CartItemDetails {
  display: flex;
}

.CartItemDetails > p {
  margin-right: 15px;
}

.CartItemDetails > p > i {
  margin-right: 5px;
}

.Manage {
  position: absolute;
  right: 15px;
}