.PurchaseHistory {
  margin-top: 100px;
  &Title {
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 24px;
    text-align: center;
  }
}

.CartItem {
  padding: 42px 0;
  border-bottom: 1px solid #c4c4c4;

  &Header {
    padding: 1rem 0;
  }

  &Body {
    // display: flex;
  }

  &Footer {
    padding-top: 1rem;
  }
}

.CartItemInfoBlock {
  display: flex;
  flex-direction: column;
  color: #847a7a;
}

.CartItemOrderID {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.CartItemTitle {
  margin-bottom: 18px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.CartItemInfo {
  margin-bottom: 18px;
  font-size: 16px;
}

.Quantity {
  display: inline-block;
  margin-top: 18px;
}

.CartItemTotal {
  margin-top: auto;
  color: #000000;
  font-weight: 700;
}

.ImageBox {
  width: 180px;
  max-width: 100%;
  height: 100%;
  margin-right: 35px;
}

.Image {
  width: 100%;
  height: 100%;
}

.Buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
}

.Button {
  width: 250px;
  padding: 1rem 0.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #000000;
}

.Remove {
  align-self: flex-start;
  margin-top: 30px;
}

.PurchasedItems {
  margin-left: 3rem;
}

.PurchasedItem {
  padding: 2rem;
  border: 1px solid lightgrey;
  & + & {
    margin-top: 2rem;
  }
}

.CartItemFooter {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.Total {
  margin-top: 2rem;

  &Cross {
    text-decoration: line-through;
  }
}

.Delivery {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.Saved {
  margin-top: 10px;
  color: green;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (max-width: 576px) {
  .CartItemBody {
    display: flex;
    flex-direction: column;

    &InfoBlock {
      margin: 50px 0;
    }
  }

  .ImageBox {
    margin: 0 0 50px 0;
  }

  .Buttons {
    margin-left: unset;
    padding: 0;
  }
}
