.black:before {
  border: 1px solid #fff;
  background-color: #000;
}

.red:before {
  background-color: red;
}

.brown:before {
  background-color: brown;
}

.white:before {
  background-color: white;
}
