@import "../../../../styles/variables";

.ColorFilter {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-top: 60px;
}

.Title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

.Color {
  display: block;
  position: relative;
  padding: 10px 10px 10px 50px;
  margin-top: 30px;
  cursor: pointer;

  &Selected {
    // background: linear-gradient(45deg, rgb(0, 0, 0), rgb(10, 10, 10));
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(20, 20, 20));

    border-right: 1px solid gold;
  }

  &:before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
    background-color: #fff;
    content: "";
  }
}

.black:before {
  border: 1px solid #fff;
  background-color: #000;
  background-color: coastal;
}

.red:before {
  background-color: red;
}

.brown:before {
  background-color: brown;
}

.white:before {
  background-color: white;
}

.ShowMore {
  background-color: unset;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  margin-top: 50px;
  padding: 0.5rem 0;
  cursor: pointer;
}
