@import "../../../styles/mixins";
@import "../../../styles/variables";

.form {
  @include block-120;
  justify-content: space-evenly;
  min-height: 210px;
  max-height: 260px;
}

.dataPointer {
  @include point-info;
}

.formBlockColor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 370px) { height: 100px; }
  @media (max-width: 666px) {
    flex-wrap: wrap;
    .colorSelection {
      width: 100%;
    }
  }

  .colorSelection {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    @media (min-width: 901px) and (max-width: 900px) {
        width: 70%;
    }
    @media (max-width: 666px) {
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      height: 54px;
      font-size: 14px;
      @media (max-width: 370px) { align-content: space-between; }
    }

    .colorBox {
      margin-left: 15px;
    }

    .defaultRadio {
      display: none;

      &:checked + .customRadio::before {
        position: absolute;
        bottom: -90%;
        width: 115%;
        height: 35px;
        border: 1.4px solid black;
        content: "";
      }
    }

    .customRadio {

      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      text-align: center;
      background-color: #fff;
      cursor: pointer;

      &::after {
        position: absolute;
        bottom: -50%;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        content: "";
      }
    }
  }
}

.formBlockSize {
  display: flex;
  align-items: center;
}

.formBlockSubmit {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  @media (max-width: 980px) {
    width: 80%;
  }
  @media (max-width: 666px) {
    width: 100%;
  }
  @media (min-width: 1330px) {
    width: 80%;
  }
}

.Navy::after { @include radioColorStyle; background-color: $navy; }
.Black::after { @include radioColorStyle; background-color: $black; }
.Charcoal::after { @include radioColorStyle; background-color: $charcoal; }
.White::after { @include radioColorStyle; background-color: #fff; }
.Gray::after { @include radioColorStyle; background-color: rgb(163, 163, 163); }
.Silver::after { @include radioColorStyle; background-color: rgb(209, 207, 207); }
.PearlGray::after { @include radioColorStyle; background-color: $pearl-gray; }
.SmokeGray::after { @include radioColorStyle; background-color: $smoke-gray; }
.JetBlack::after { @include radioColorStyle; background-color: $jet-black; }
.AirForce::after { @include radioColorStyle; background-color: $air-force; }
.SuperLightIndigo::after { @include radioColorStyle; background-color: $super-light-indigo; }
.CamelotGray::after { @include radioColorStyle; background-color: $camelot-gray; }
.MidnightNavy::after { @include radioColorStyle; background-color: $midnight-navy; }
.Nero::after { @include radioColorStyle; background-color: $nero; }
.WhiteNight::after { @include radioColorStyle; background-color: $white-night; }
.NightBlue::after { @include radioColorStyle; background-color: $night-blue; }
.MarroneBrown::after { @include radioColorStyle; background-color: $marrone-brown; }
.DustyOlive::after { @include radioColorStyle; background-color: $dusty-olive; }
.Stone::after { @include radioColorStyle; background-color: $stone; }
.Khaki::after { @include radioColorStyle; background-color: $khaki; }
.Kalamata::after { @include radioColorStyle; background-color: $kalamata; }
.GrayHarbor::after { @include radioColorStyle; background-color: $gray-harbor; }
.BlackDial::after { @include radioColorStyle; background-color: $black; }
.BlackGold::after { @include radioColorStyle; background-color: $black; }
.BlackGold::after { @include radioColorStyle; background-color: $black; }
.TwoTone::after { @include radioColorStyle; background-color: $black; }
.GoldBrownGradient::after { @include radioColorStyle; background-color: $black; }
.FlowBoneRed::after { @include radioColorStyle; background-color: $black; }
.BlueBlazer::after { @include radioColorStyle; background-color: $blue-blazer; }
.DuffleBag::after { @include radioColorStyle; background-color: $duffle-bag; }
.DarkBlue::after { @include radioColorStyle; background-color: $dark-blue; }
.Denim::after { @include radioColorStyle; background-color: $denim; }
.Mauz::after { @include radioColorStyle; background-color: $mauz; }
.Coastal::after { @include radioColorStyle; background-color: $coastal; }
.BlueSilver::after { @include radioColorStyle; background-color: $blue-silver; }
.ShinyEndura::after { @include radioColorStyle; background-color: $shiny-endura; }
.Brown::after { @include radioColorStyle; background-color: $brown; }

.select-block{
  position: relative;
}

.sizeSelect {
  width: 100px;
  height: 36px;
  padding: 3px 10px;
  font-size: 16px;
  background-color: #fff;
  background-image: url("../../../img/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 22px;
  border: 1px solid black;
  cursor: pointer;
  appearance: none;


  &:focus {
    outline: none;
  }

  & option {
    color: #fff;
    background-color: black;
  }
}

.formOneColorBlock {
  & p {
    margin-right: 20px;
    color: rgb(58, 58, 58);
  }
  display: flex;
  justify-content: space-between;
  @media (max-width: 666px) {
    align-items: center;
    height: 0;
    height: unset;
  }
  & span {
    width: 168px;
    color: #000;
  }
}

.backShopping {
  display: block;
  width: 15%;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  @media (max-width: 420px) {
    width: 18%;
  }
}


.submit {
  width: 60%;
  color: #fff;
  font-size: 20px;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.toWishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  @media (max-width: 420px) {
    width: 18%;
  }
}

.AddToCartButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin: auto;
  @media (max-width: 380px) {
    justify-content: center;
  }
}

.AddToCartButtonText {
  @media (max-width: 380px) {
      display: none;
  }
}

.AddToCartFreeze {
  opacity: 0.3;
  pointer-events: none;
}