@import "../../../styles/mixins";
@import "../../../styles/variables";

.form {
  @include block-120;
  height: 400px;
  justify-content: space-evenly;

  .formBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 70px;

    &:last-of-type {
      margin-bottom: 12px;
    }
  }

  .select-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 200px;
  }

  .field {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }

  .dataPointer {
    @include point-info;
  }
}

.defaultRadio {
  display: none;

  &:checked + .customRadio::before {
    content: "";
    position: absolute;
    bottom: -130%;
    width: 140%;
    height: 50px;
    border: 1px solid black;
  }
}

.customRadio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: -50%;
    border-radius: 10px;
  }
}

.formBlock:first-child {

  @media (min-width: 320px) and (max-width: 450px) {
    width: 100%;
    flex-wrap: wrap;
    & div {margin: 10px 8px;}
  }
  @media (max-width: 420px) {
    flex-wrap: wrap;
    & div {margin: 8px 8px;}
    width: 100%;
  }
}

.Navy::after { @include radioColorStyle; background-color: $navy; }
.Black::after { @include radioColorStyle; background-color: $black; }
.Charcoal::after { @include radioColorStyle; background-color: $charcoal; }
.White::after { @include radioColorStyle; background-color: #fff; }
.Gray::after { @include radioColorStyle; background-color: rgb(163, 163, 163); }
.Silver::after { @include radioColorStyle; background-color: rgb(209, 207, 207); }
.PearlGray::after { @include radioColorStyle; background-color: $pearl-gray; }
.SmokeGray::after { @include radioColorStyle; background-color: $smoke-gray; }
.JetBlack::after { @include radioColorStyle; background-color: $jet-black; }
.AirForce::after { @include radioColorStyle; background-color: $air-force; }
.SuperLightIndigo::after { @include radioColorStyle; background-color: $super-light-indigo; }
.CamelotGray::after { @include radioColorStyle; background-color: $camelot-gray; }
.MidnightNavy::after { @include radioColorStyle; background-color: $midnight-navy; }
.Nero::after { @include radioColorStyle; background-color: $nero; }
.WhiteNight::after { @include radioColorStyle; background-color: $white-night; }
.NightBlue::after { @include radioColorStyle; background-color: $night-blue; }
.MarroneBrown::after { @include radioColorStyle; background-color: $marrone-brown; }
.DustyOlive::after { @include radioColorStyle; background-color: $dusty-olive; }
.Stone::after { @include radioColorStyle; background-color: $stone; }
.Khaki::after { @include radioColorStyle; background-color: $khaki; }
.Kalamata::after { @include radioColorStyle; background-color: $kalamata; }
.GrayHarbor::after { @include radioColorStyle; background-color: $gray-harbor; }
.BlackDial::after { @include radioColorStyle; background-color: $black; }
.BlackGold::after { @include radioColorStyle; background-color: $black; }
.BlackGold::after { @include radioColorStyle; background-color: $black; }
.TwoTone::after { @include radioColorStyle; background-color: $black; }
.GoldBrownGradient::after { @include radioColorStyle; background-color: $black; }
.FlowBoneRed::after { @include radioColorStyle; background-color: $black; }
.BlueBlazer::after { @include radioColorStyle; background-color: $blue-blazer; }
.DuffleBag::after { @include radioColorStyle; background-color: $duffle-bag; }
.DarkBlue::after { @include radioColorStyle; background-color: $dark-blue; }
.Denim::after { @include radioColorStyle; background-color: $denim; }
.Mauz::after { @include radioColorStyle; background-color: $mauz; }
.Coastal::after { @include radioColorStyle; background-color: $coastal; }
.BlueSilver::after { @include radioColorStyle; background-color: $blue-silver; }
.ShinyEndura::after { @include radioColorStyle; background-color: $shiny-endura; }
.Brown::after { @include radioColorStyle; background-color: $brown; }

.select-block{
  position: relative;
}

.size-select {
  width: 78px;
  height: 36px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  appearance: none;
  background-color: #fff;
  background-image: url("../../../img/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 22px;
  padding: 3px 10px;


  &:focus {
    outline: none;
  }

  & option {
    background-color: black;
    color: #fff;
  }
}

.submit {
  height: 60px;
  width: 71%;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  align-self: center;
}