.Modal{
    position:fixed;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0, 0.1);
}
.ModalInner{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:300px;
    color: #000;
    background-color:#e9e9e9;
  
}
.CloseSvg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill:#fff;
    
}

.ModalHeader{
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    background-color:#fff;
   
}
.ModalFooter{
    display: flex;
    justify-content:space-around;
    padding:20px;
}
.ModalContent{
    padding:25px;
    text-align: center;
}