.Backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.Dark {
  z-index: 100;
  background: #00000059;
}

.SuperDark {
  z-index: 100;
  background: #000000fc;
}