@import "../../../../styles/mixins";

.Collections {
  width: 100%;

  & div {
    width: 100%;
  }
}

.CollectionItems {
  display: grid;
  grid-gap: 50px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 768px) {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

.group {
  display: flex;
  align-items: flex-end;
  @include bg-image-pos;

  &:hover {
    cursor: pointer;
  }
}

.New {
  grid-area: 1 / 1 / 3 / 2;
  min-height: 980px;
  background-image: url("./img/new.jpg");

  @media screen and (max-width: 768px) {
    grid-area: 1 / 1 / 2 / 2;
    min-height: 360px;
    background-position: center 30%;
  }
}
.Recommended {
  background-image: url("./img/recommended1.png");
  @media screen and (max-width: 768px) {
    grid-area: 2 / 1 / 3 / 2;
  }
}
.Popular {
  background-image: url("./img/popular1.jpg");
  @media screen and (max-width: 768px) {
    grid-area: 3 / 1 / 4 / 2;
  }
}
