@mixin container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin bg-image-pos {
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}