$img-header-sprite: "../../../img/Sprites/header-sprite.svg";

$pointInfo: rgb(58, 58, 58);

$charcoal: #49302c;
$navy: #000048;
$black: #202020;
$pearl-gray: #aaa9b0;
$smoke-gray: #3b3b38;
$jet-black: #2d2c2f;
$air-force: #003087;
$camelot-gray : #44464f;
$super-light-indigo: #D1C2FF;
$midnight-navy: #34414e;
$nero: #252525;
$white-night: #edece8;
$night-blue: #322c36;
$silver: #c0c0c0;
$marrone-brown: #B7825F;
$dusty-olive: #686E3C;
$stone: #888c8d;
$khaki: #c3b091;
$kalamata: #5f5b4c;
$gray-harbor: #596368;
$blue-blazer: #215889 ;
$duffle-bag: #394034 ;
$dark-blue: #00008B ;
$denim: #1560bd ;
$mauz: #cdd6b6 ;
$coastal: #9cc7cc ;
$blue-silver: #5f6c81 ;
$shiny-endura: #FFDF4F ;
$brown: rgb(156, 113, 70) ;