$img-header-sprite: "../../../img/Sprites/header-sprite.svg";

$pointInfo: rgb(58, 58, 58);

$charcoal: #49302c;
$navy: #000048;
$black: #202020;
$pearl-gray: #aaa9b0;
$jet-black: #2d2c2f;
$camelot-gray : #44464f;
$super-light-indigo: #D1C2FF;
$midnight-navy: #34414e;
$nero: #252525;
$white-night: #edece8;
$night-blue: #322c36;
$silver: #c0c0c0;