.PriceFilter {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  margin-top: 40px;
}

.Title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

.RangeBlock {
  margin-top: 25px;
}
