.PriceFilter {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-top: 60px;
}

.Title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

.RangeBlock {
  margin-top: 25px;
}

.Button {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  padding: 10px 25px;
  transition: all 0.25s;
  cursor: pointer;

  &:hover {
    border-color: gold;
  }
  &s {
    margin-top: 50px;
  }
}
