.Account {
  background: #fff;
  font-family: "Josefin Sans", sans-serif;
  padding: 5%;
}

.AccountTitle {
  font-size: 36px;
  margin-bottom: 140px;
  @media screen and (max-width: 576px) {
    font-size: 20px;
    margin-bottom: 50px;
   }
}

.AccountContainer {
  display: block;
}

.AccountButtonList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
  line-height: 2;
  @media screen and (max-width: 576px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
   }
}