.Footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 122px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;





  &Column {

    & h3 {
      margin-bottom: 39px;
      font-size: 24px;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;

    }
    }

  &ListItem {
    padding-bottom: 19px;
  }


  &Link {

    &Item {
      display: inline-block;
    }
  }
  &LinkActive {
    color: antiquewhite;
  }
}





