input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Checkout {
  padding: 5%;
  background-color: #fff;
}

.CheckoutContainer {
  position: fixed;
  top: 17%;
  left: 34%;
  box-sizing: border-box;
  width: 600px;
  max-width: 600px;
  padding: 50px;
  background-color: #e9e9e9;
  border-radius: 5px 5px;
  box-shadow: 0 4px 18px 0 rgb(0 0 0 / 27%);
}

.CheckoutContainer > p {
  margin-bottom: 40px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.CheckoutPayments {
  display: block;
  margin-bottom: 75px;
}

.CheckoutPaymentImg {
  margin-right: 30px;
  vertical-align: middle;
}

.CheckoutInputField {
  display: flex;
}

.CheckoutInputField > p {
  margin-right: 8px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.CheckoutInput {
  display: block;
  margin-bottom: 38px;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.CheckoutPay {
  margin-right: auto;
  margin-left: auto;
}

.CheckoutForm {
  margin-bottom: 50px;
}

.PaymentCardExpiry {
  position: relative;
  display: flex;
}

.PaymentCardExpiry > .CheckoutInput {
  width: 40px;
}

.PaymentCardExpiry::after {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  color: #aaa;
  content: "/";
}

.CheckoutInputCVV {
  width: 25px;
}

.ErrorError {
  position: relative;
  top: 24px;
  right: 13px;
  display: block;
  color: red !important;
}

.Checkbox {
  position: relative;
  margin-bottom: 30px;
  visibility: hidden;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    border-radius: 50%;
    visibility: visible;
    content: "";
  }

  &:before {
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
  }

  &:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
  }

  &:checked:after {
    background-color: #000;
  }

  &Label {
    margin-top: 3px;
    margin-left: 20px;
    color: #847a7a;
  }
}

.CheckoutHeader {
  display: flex;
  justify-content: flex-end;
}

.CheckoutHeader > p {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.CheckoutPayCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #980000;
  border: none;
}

.TotalPrice {
  margin-left: 10px;
  color: darkgreen;
}
.CheckoutLimitExceed {
  margin-bottom: 20px;
  color: #0000007a;
  font-size: 12px;
}

.SavedCardsWrapper {
  margin: 10px 3px;
  padding: 15px 10px;
  font-size: 15px;
  letter-spacing: 1px;
  white-space: nowrap;
  border: 1px solid #00000047;
  border-radius: 10px;
}

.SavedCardsContainer {
  display: flex;
  margin-bottom: 15px;
}

.SavedNumber {
  margin-bottom: 2px;
  font-size: 10px;
}

.SavedName {
  font-size: 10px;
}

.Verification {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 17px 3px #0000006b;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 768px) {
    width: 80%;
  }
  @media screen and (max-width: 576px) {
    &BtnManage {
      flex-direction: column-reverse;

      & > * {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}

.VerificationInfo {
  margin-bottom: 50px;
  text-align: center;
}

.VerificationInfo > h2 {
  margin-bottom: 18px;
  font-size: 36px;
}

.VerificationInfo > h4 {
  margin-bottom: 50px;
  font-size: 20px;
}

.VerificationImg {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  height: 100%;
}

.VerificationInput {
  position: relative;
  align-items: center;
  margin-bottom: 40px;
}

.VerificationInput > p {
  margin-right: 15px;
  color: #000000ad;
  font-size: 22px;
}

.ConfirmationInput {
  padding: 10px;
  border: 1px solid #0000006b;
  border-radius: 5px;
}

.Inner {
  // display: flex;
  // flex-direction: column;
}

.Error {
  position: absolute;
  top: 43px;
  left: calc(52% - 52.56px);
  display: block;
  color: red !important;
}

.VerificationBtnManage {
  display: flex;
}

.VerificationPayCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 10px 30px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #980000;
  border: none;
}
.VerText {
  margin-bottom: 20px;
  font-size: 35px;
}
