input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Checkout {
  padding: 5%;
  line-height: 1.5;
  background-color: #fff;
}

.CheckoutContainer {
  box-sizing: border-box;
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  background-color: #e9e9e9;
  border-radius: 5px 5px;
  border-radius: 5px 5px;
  box-shadow: 0 4px 18px 0 rgb(0 0 0 / 27%);
}
.CheckoutInputMask{
  display: block;
    margin-bottom: 38px;
    background: none;
    border: none;
    outline: none;
}


.CheckoutContainer > p {
  margin-bottom: 40px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.CheckoutPayments {
  display: block;
  margin-bottom: 75px;
}

.CheckoutPaymentImg {
  margin-right: 30px;
  vertical-align: middle;
}

.CheckoutInputField {
  display: flex;
}

.CheckoutInputField > p {
  margin-right: 8px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.CheckoutInput {
  display: block;
  margin-bottom: 38px;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.CheckoutPay {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.CheckoutForm {
  margin-bottom: 50px;
}

.PaymentCardExpiry {
  position: relative;
  display: flex;
}

.PaymentCardExpiry > .CheckoutInput {
  width: 40px;
}

.PaymentCardExpiry::after {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  color: #aaa;
  content: "/";
}

.CheckoutInputCVV {
  width: 25px;
}

.Error {
  position: relative;
  top: 24px;
  right: 13px;
  display: block;
  color: red;
}

.Checkbox {
  position: relative;
  margin-bottom: 30px;
  visibility: hidden;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    border-radius: 50%;
    visibility: visible;
    content: "";
  }

  &:before {
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
  }

  &:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
  }

  &:checked:after {
    background-color: #000;
  }

  &Label {
    margin-top: 3px;
    margin-left: 20px;
    color: #847a7a;
  }
}

.CheckoutHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CheckoutHeader > p {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.CheckoutPayCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #980000;
  border: none;
}

.TotalPrice {
  margin-left: 10px;
  color: darkgreen;
}
.CheckoutLimitExceed {
  margin-bottom: 20px;
  color: #0000007a;
  font-size: 12px;
}

.SavedCardsWrapper {
  margin: 10px 3px;
  padding: 15px 10px;
  font-size: 15px;
  letter-spacing: 1px;
  white-space: nowrap;
  border: 1px solid #00000047;
  border-radius: 10px;
}

.SavedCardsContainer {
  display: flex;
  // flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.SavedNumber {
  margin-bottom: 2px;
  font-size: 10px;
}

.SavedName {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .CheckoutContainer {
    width: 100%;
    max-width: 100%;
    padding: 3rem 1.5rem;
  }

  .CheckoutHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    p {
      margin-right: 1rem;
      margin-bottom: 0;
      line-height: 1.5;
    }
  }

  .CheckoutPayments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .CheckoutPaymentImg {
    margin-right: 0;
  }

  .CheckoutInputField {
    margin-bottom: 1rem;
  }

  .SavedCardsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .CheckoutPay {
    width: 100%;
  }
}
