@import "../../styles/mixins";

.photo-block {
  width: 50%;
  height: 620px;
  display: flex;
  justify-content: center;

  @media (max-width: 980px) {
    width: 75%;
  }

  @media (max-width: 640px) {
    width: 100%;
  }

}

.photo {
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  @media (max-width: 640px) {
    width: 100%;
    background-position: center;
  }
}

.Navy {background-image: url("../../stock/suits/suits/1701 - Canali/navy_color/1701_navy_canali1.png");}
.Carcoal {background-image: url("../../stock/suits/suits/1701 - Canali/charcoal_color/1701_charcoal_canali1.png");}
.Black {background-image: url("../../stock/suits/suits/1701 - Canali/black_color/1701_black_canali1.png");}

.carou {
  border: 1px solid rgb(252, 252, 252);
}