.Delivery {
  display: block;
  margin-bottom: 30px;
}

.Delivery > h3 {
  //font-size: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.CheckoutInputField {
  display: flex;
}

.CheckoutInputField > p {
  margin-right: 8px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.CheckoutInput {
  display: block;
  width: 100%;
  margin-bottom: 38px;
  padding: 5px;
  background: none;
  border: 1px solid #00000059;
  border-radius: 5px;
  outline: none;
}

.Checkbox {
  position: relative;
  margin-right: 10px;
  margin-bottom: 30px;
  visibility: hidden;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    border-radius: 50%;
    visibility: visible;
    content: "";
  }

  &:before {
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #a5a5a5;
  }

  &:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
  }

  &:checked:after {
    background-color: #000;
  }

  &Label {
    margin-top: 3px;
    margin-left: 20px;
    color: #847a7a;
  }
}

.DeliveryForm {
  padding: 15px;
  border: 1px solid #00000024;
  border-style: dashed;
}

.DeliveryItems {
  width: 100%;
  padding: 7px;
  font-size: 10px;
  border: 1px solid #00000038;
  border-radius: 8px;
  box-shadow: -3px -1px 5px 2px #0000000f;

  & + & {
    margin-top: 5px;
  }
}

.DeliveryItemsWrapper {
  display: flex;
  flex-direction: column;
}

.DeliveryItemsWrapper > span {
  padding: 3px;
}
