@keyframes ldio-lpb5xqw6ghq {
  0% {
    top: 95.34px;
    left: 95.34px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 2.27px;
    left: 2.27px;
    width: 186.14000000000001px;
    height: 186.14000000000001px;
    opacity: 0;
  }
}.ldio-lpb5xqw6ghq div {
   position: absolute;
   border-width: 18.16px;
   border-style: solid;
   opacity: 1;
   border-radius: 50%;
   animation: ldio-lpb5xqw6ghq 0.6896551724137931s cubic-bezier(0,0.2,0.8,1) infinite;
 }.ldio-lpb5xqw6ghq div:nth-child(1) {
    border-color: #93dbe9;
    animation-delay: 0s;
  }
.ldio-lpb5xqw6ghq div:nth-child(2) {
  border-color: #689cc5;
  animation-delay: -0.3448275862068966s;
}
.loadingio-spinner-ripple-1uid36w8raw {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 227px;
  height: 227px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-lpb5xqw6ghq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-lpb5xqw6ghq div { box-sizing: content-box; }
