@import "../../../styles/fonts";


.Buttons{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 15px 115px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    background-color: #000;
    border: none;  
}