@import "../../../styles/fonts";


.Buttons{
    color: #000;
    background-color: #fff;
    border: none;
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    width: 270px;
    height: 60px;
}