.toastr-c-success{
  margin-bottom: 55px !important;
  color: white !important;
  font-size: 14px !important;
  background: #353535 !important;
  background-repeat: no-repeat !important;
  background-position-x: 11px !important;
  background-position-y: center !important;
}

.toastr-c-warning{
  margin-bottom: 55px !important;
  color: white !important;
  font-size: 14px !important;
  background: #f9b800 !important;
  background-repeat: no-repeat !important;
  background-position-x: 11px !important;
  background-position-y: center !important;
}

.toastr-c-error{
  margin-bottom: 55px !important;
  color: white !important;
  font-size: 14px !important;
  background: #9d0000 !important;
  background-repeat: no-repeat !important;
  background-position-x: 11px !important;
  background-position-y: center !important;
}

.toastr-c-completed{
  margin-bottom: 55px !important;
  color: white !important;
  font-size: 14px !important;
  background: #e600bf !important;
  background-repeat: no-repeat !important;
  background-position-x: 11px !important;
  background-position-y: center !important;
}

.toastr-c-info-completed {
  margin-bottom: 55px !important;
  color: white !important;
  font-size: 14px !important;
  background-color: #00b147 !important;
  background-repeat: no-repeat !important;
  background-position-x: 11px !important;
  background-position-y: center !important;
}