.MyAccount {
  font-family: "Josefin Sans", sans-serif;

  &Title {
    margin: 0px 0px 50px 0;
    font-size: 36px;
  }

  &Tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &Tab {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: unset;

    &Active {
      font-weight: 700;
      border-bottom: 1px solid #000000;
    }
  }
}

.MyAccountForm {
  margin-top: 100px;
  @media screen and (max-width: 576px) {
    margin-top: 20px;
   }
}

.Input {
  width: 50%;
  padding: 1rem 0;
  border: none;
  border-bottom: 1px solid #000000;
  @media screen and (max-width: 576px) {
   padding: 5px 0;
   font-size: 12px;
   }
 
  &:active {
    outline: none;
  }
}

.Button {
  width: 25%;
  padding: 1rem 0.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #000000;
  @media screen and (max-width: 576px) {
  
   }
}

.InputField {
  position: relative;
  margin-bottom: 50px;
  @media screen and (max-width: 576px) {
    margin-bottom: 20px;
   }
}

label {
  display: block;
  margin: 5px 0;
  @media screen and (max-width: 576px) {
    margin: 0;
    font-size: 14px;
   }
}

@media screen and (max-width: 992px) {
  .Input {
    width: 100%;
  }

  .Button {
    width: 100%;
  }
}
.Error {
  position: absolute;
  bottom: -20px;
  color: red;
  font-size: 12px;
}