.CartItem {
  display: flex;
  padding: 42px 0;
  border-bottom: 1px solid #c4c4c4;
}

.CartItemInfoBlock {
  display: flex;
  flex-direction: column;
  color: #847a7a;
}

.CartItemTitle {
  margin-bottom: 18px;
  color: #000000;
  // font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.CartItemInfo {
  margin-bottom: 18px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.Quantity {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-left: 20px;

  span {
    margin: 0 15px;
  }

  button {
    border: 1px solid #000;
    width: 35px;
    height: 35px;
  }
}

.CartItemTotal {
  margin-top: auto;
  color: #000000;
  font-weight: 700;
}

.ImageBox {
  width: 180px;
  max-width: 100%;
  height: 100%;
  margin-right: 35px;
}

.Image {
  width: 100%;
  height: 100%;
}

.Remove {
  align-self: flex-end;
  margin-left: auto;
}

@media screen and (max-width: 576px) {
  .CartItem {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .ImageBox {
    width: fit-content;
    margin-right: 0;
  }

  .Remove {
    width: fit-content;
    margin-left: unset;
  }
}

@media screen and (max-width: 576px) {
  .CartItem {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    text-align: right;
  }

  .CartItemInfoBlock {
    margin: 25px 0;
  }

  .Remove {
    margin-left: auto;
    padding: 0;
  }
}

.CartCountDecreaseOff {
  opacity: 0.3;
  pointer-events: none;
}

.CartCountIncreaseOff {
  opacity: 0.3;
}

@media screen and (max-width: 992px) {
  .Cart {
    &Item {
      width: 90%;
    }
  }
}
