@import "../../../styles/variables";
@import "../../../styles/fonts";

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;

  &Items {
    display: flex;
  }

  &Item {
    padding: 20px;
    z-index: 99;

    &MyAccount:before {
      background-position: -16px 0;
    }

    &ShoppingBag:before {
      background-position: -35px 0;
    }

    &Active {
      border-bottom: 1px solid #fff;
    }
  }

  &Tools {
    font-size: 16px;
    position: relative;

    li {
      display: flex;

      &:before {
        margin-right: 5px;
        width: 14px;
        height: 15px;
        background-image: url($img-header-sprite);
        background-size: cover;
        content: "";
      }
    }
  }
}

.Burger {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  background-color: #fff;

  &Box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    &:before,
    &:after {
      display: none;
    }
  }
}

.Logo {
  font-size: 56px;
  font-family: "Sofia", cursive;
}

.man:hover + .manItem {
  display: block;
}

.BurgerMenu {
  width: 2rem;
  cursor: pointer;

  &:before {
    display: none;
  }
}

.BurgerIcon {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1150px) {
  .NavItem {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 992px) {
  .Nav {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

    &Shop {
      // position: relative;
      grid-area: 2 / 1 / 3 / 3;
      justify-content: space-between;
      font-size: 16px;
      border-top: 1px solid #585757;

      //   &:before {
      //     position: absolute;
      //     top: 0;
      //     left: -20px;
      //     width: calc(100% + 40px);
      //     height: 1px;
      //     background-color: #585757;
      //     content: "";
      //   }
    }

    .Logo {
      grid-area: 1 / 1 / 2 / 2;
      line-height: 70px;
      vertical-align: middle;
    }
    &Tools {
      grid-area: 1 / 2 / 2 / 3;
      font-size: 14px;
    }
  }

  .Logo {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .Nav {
    &Shop {
      font-size: 12px;
    }

    &Item {
      padding-left: 0;
      padding-right: 0;
      & + & {
        margin-left: 10px;
      }
    }

    &Tools {
      font-size: 0;
    }
  }

  .Burger {
    display: block;
    margin-top: 1px;

    &Box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      &:before,
      &:after {
        display: none;
      }
    }
  }
}

.dropHoverEnter {
  opacity: 0;
}
.dropHoverEnterActive {
  opacity: 1;
  transition: opacity 0.2s;
}
.dropHoverExit {
  opacity: 1;
}
.dropHoverExitActive {
  opacity: 0;
  transition: opacity 0.2s;
}

.NavCartActive {
  background: #00a046;
  position: absolute;
  right: 0;
  top: 9px;
  border-radius: 30px;
  text-align: center;
  font-size: 11px;
  padding: 5px;
  color: white;
  box-shadow: 0 0 4px 4px #00ffad73;
  width: 10px;
}
