.Verification {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 650px;
  padding: 30px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 17px 3px #0000006b;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  box-shadow: 0 0 17px 3px #0000006b;
  transform: translate(-50%, -50%);
}

.VerificationInfo {
  margin-bottom: 50px;
  text-align: center;
}

.VerificationInfo > h2 {
  margin-bottom: 18px;
  font-size: 36px;
}

.VerificationInfo > h4 {
  margin-bottom: 50px;
  font-size: 20px;
}

.VerificationImg {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  height: 100%;
}

.VerificationInput {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.VerificationInput > p {
  margin-right: 15px;
  color: #000000ad;
  font-size: 22px;
}

.ConfirmationInput {
  padding: 10px;
  border: 1px solid #0000006b;
  border-radius: 5px;
}

.Inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Error {
  position: absolute;
  top: 43px;
  left: calc(67% - 52.56px);
  display: block;
  color: red !important;
}

.VerificationBtnManage {
  display: flex;
}

.VerificationPayCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 10px 30px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #980000;
  border: none;
}

@media screen and (max-width: 768px) {
  .Verification {
    box-sizing: border-box;
    width: 85%;
    height: fit-content;
    padding: 3rem;
  }

  .VerificationBtnManage {
    display: flex;
    flex-direction: column;
    width: 100%;

    & * {
      box-sizing: border-box;
    }
  }

  .VerificationPayCancel {
    order: 2;
    box-sizing: border-box;
    width: 100%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .Verification {
    bottom: 0;
    padding: 3rem 1.5rem;
  }

  .VerificationInfo > h2 {
    font-size: 28px;
    line-height: 1.5;
  }

  VerificationInfo > h4 {
    font-size: 16px;
  }

  .VerificationImg {
    display: none;
  }

  .VerificationInput {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    p {
      margin-bottom: 0.25rem;
    }
  }
}
